<footer>
  <div class="container-fluid py-4 px-sm-3 px-lg-5">
    <div class="row footer-link-container">
      <div class="col-md-4 mb-3">
        <h5 class="footer-h5 text-uppercase mb-4" style="letter-spacing: 5px;">
          Pages
        </h5>

        <p>
          <a class="footer-link" href="/about">
            <i class="fa-solid fa-angles-right"></i>
            <span class="">About Us</span>
          </a>
        </p>
        <p>
          <a class="footer-link" href="/Privacy&Policy">
            <i class="fa-solid fa-angles-right"></i>
            <span class="">Privacy &amp; Policy </span>
          </a>
        </p>
        <p>
          <a class="footer-link" href="/terms&Conditions">
            <i class="fa-solid fa-angles-right"></i>
            <span class="">Terms &amp; Conditions </span>
          </a>
        </p>

      </div>

 

      <div class="col-md-4 mb-3">
        <h5 class="footer-h5 text-uppercase mb-4" style="letter-spacing: 5px;">
          Get In Touch
        </h5>
        <p>
          <i class="fa-solid fa-map-location-dot"></i>
          <span class="ms-2">Hanumana</span>
        </p>
        <p>
          <i class="fa-solid fa-phone"></i>
          <span class="ms-2">+91 7489891592</span>
        </p>
        <p>
          <i class="fa-solid fa-envelope"></i>
          <span class="ms-2 email-id">ankitgupta46178@gmail.com</span>
        </p>
        <div class="d-flex justify-content-start mt-4">
          <a class="btn btn-social btn-square ms-2" to="">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a class="btn btn-social btn-square ms-2" to="">
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a class="btn btn-social btn-square ms-2" to="">
            <i class="fa-brands fa-twitter"></i>
          </a>
          <a class="btn btn-social btn-square ms-2" to="">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </div>
      </div>
      <div class="col-md-4 mb-3 d-flex flex-column justify-content-center">
  <div class="news-text">
    Subscribe to our newsletter 
  </div>

  <form id="newsletter-form" class="d-flex align-items-center" method="get">
    <input id="email-input" class="form-control me-0 email-sub" type="email" placeholder="Enter your E-mail"  required style="outline: none;box-shadow: none;">
    <input class="btn subscribe-btn" type="submit" value="Subscribe">
  </form>

</div>

    </div>
  </div>

  <div class="fu-container botder-top py-3 container  d-flex">

    <div class="text-white m-auto">
      Copyright &copy; WanderWords.in ❤️
   

    </div>

  </div>
</footer>
  