@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@700&family=Roboto&family=Roboto+Slab:wght@500&display=swap");






.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
input::placeholder{
  font-size: 15px !important;
  display: flex;
  justify-content: center;
}
input[type="submit"], input[type="reset"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
  margin: 10px 6px;

  
  }
  input[type="submit"]:hover,input[type="reset"]:hover{
   background-color: #07b50d;
  }
  .anima{
    animation: anim   3s  ease-in-out infinite;
    text-decoration: none;
  }
  .web-logo2 {
    font-family: "Carattere", cursive;
    font-weight: bolder;
    color: #e6e600;
    padding: 4px 0 !important;
    text-align: center;
    animation: anim   3s  ease-in-out infinite;

  }
  @keyframes anim {
    0%{
      color: #e6e600;
    }
   30%{
      color: #fa05fa;
    }
    50%{
      color: #e6003a;
    }
    60%{
      color: #fa1109;
    }
    80%{
      color: #0017e6;
    }
    100%{
      color: #0fe600;
    }
  }

  