<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="../css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="css/error.css">
    <title>404</title>
   
</head>
 <div id="notfound">
        <div class="notfound">
          <div class="notfound-404">
            <h1>404</h1>
          </div>
          <h2>{{error}}</h2>
          <p class="mb-5">
            the page you are looking might have been removed had its name
            changed or is temporarily unavailable
          </p>
          <a href="/">Back To Homepage</a>
        </div>
      </div>
 </div>
</body>
</html>